@import url(../pages/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__cointainer/intro__container.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);
@import url(../blocks/intro/__paragraph/__paragraph_author/intro__paragraph_author.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__box/photo-grid__box.css);
@import url(../blocks/photo-grid/__box/-image/photo-grid__box-image.css);

.places {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__title {
  max-width: 460px;
  font-family: "Inter";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
}

.place__website-artist {
  color: #aaa;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.place__website-name {
  max-width: 456px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.place__paragraph {
  max-width: 484px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}
.place__paragraph-text {
  padding-bottom: 16px;
}
.place__button {
  background-color: blue;
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
