.cover__title {
  max-width: 656px;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover__title {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
  }
}
