.place__button {
  background-color: #0063d2;
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 13px 20px;
  border-radius: 10px;
}

.place__button:hover {
  cursor: pointer;
}
